html, body { overflow-x: hidden; }

header img {
  height : 43px;
  margin-bottom : 4px;
}

.jumbotron {
  overflow: auto;
  margin-bottom: 0px;
}

.card-img-top {
  height: 210px;
  width: 180px;
}

.nav-link {
  margin-bottom: 4px;
}

.my-navbar {
  max-width: 88%;
}

.eye-grab {
  color: #fff;
  width:100%;
  height:650px;
  overflow-y: hidden;
  display: flex;
  padding:0%;
  margin:0%;
}

.eye-grab img {
  filter: brightness(60%);
}

.eye-grab h1 {
  font-size: 80px;
}

.eye-grab-header {
  position: absolute;
  top: 12%;
  left: 4%;
  margin-right: 15px;
}

.eye-grab-details {
  width: 70%;
}

/* Email Sub Modal: */
/* The Modal (background) */
.custom-modal {
 color: #000;
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.custom-modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 margin-top: 7.5%;
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
 overflow: auto;
}

/* The Close Button */
.custom-close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.custom-close:hover,
.custom-close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
